* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body{
    font-family: sans-serif;
    background-color: #a3d9fd;
    font-size: 17px;
    line-height: 1.5;
}

html, body {
  overscroll-behavior: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
img{
    max-width: 100%;
    max-height: auto;
    margin:  0;
    padding: 0;
}

ul{
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

.navbar{
    background-color: rgb(38, 134, 194);
    color: #fff;
    height: 70px;  
    font-size: x-large; 
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav {
    display: flex;
    gap: 20px;
}

.main{
    background-color: #0037ff;
    color: #fff;
    min-height: 450px;
}

.main h1{
    font-size: 3rem;
    line-height: 1.1;
}

.main img{
    max-width: 500px; 
}

.main .container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}